@model IEnumerable<OilOnline.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Oil Change Request Index</h1>

<div class="form-group">
    <input asp-action="Index" type="submit" value="All Requests" class="btn btn-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Accepted Requests" class="btn btn-primary" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicle.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicle.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicle.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicle.Year)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(model => item.vehicle.PlateNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.vehicle.Make)
            </td>
            <td>
                @Html.DisplayFor(model => item.vehicle.Model)
            </td>
            <td>
                @Html.DisplayFor(model => item.vehicle.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Accept</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
